:root{
    --paragraph-font-size: 1.25em;
    --card-color: white;
    --secondary-color: darkgray;
}

body{
    margin: 0;
    background-color: rgb(1, 1, 59);
    font-family: 'Roboto', sans-serif;
}

ul li::before{
    content: '\1F34C';
    margin-left: -20px;
    margin-right: 10px;
}

ul{
    list-style-type: none;
}

ol,ul{
    margin: 1rem;
}

table{
    background: white;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

tr td:first-of-type{
    text-align: center;
    width: 10em;
}

thead{
    background: var(--secondary-color);
}


.flex-1{
    flex: 1;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    border: 1px solid black;
}

.purple{
    background: purple;
}
.red{
    background: red;
}
.green{
    background: green;
}

#image-container{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid black;
    background: var(--secondary-color);
    padding: 2rem;
}


#list-container{
    height: 20vh;
    display: flex;
    padding: 2rem;
}

#table-container{
    height: 15vh;
    padding: 2rem;
}


.card{
    width: 75%;
    background: var(--card-color);
    border: 1px solid lightgray;
    border-radius: 15px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card div{
    background: var(--secondary-color);
    border-bottom: 1px solid black;
    border-radius: 15px 15px 0 0;
}

.card li{
    font-size: var(--paragraph-font-size);
}

#intro{
    padding: 0 2rem;
    margin: 1rem;
    border: 1px solid lightgray;
    border-radius: 15px;
    background: var(--card-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#intro h1{
    text-align: center;
    font-size: 2.5em;
}

#intro p{
    font-size: var(--paragraph-font-size);
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg)}
}

.spinner{
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}